<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    h1 {
      color: rgb(18, 37, 50);
      text-decoration: solid;
      text-shadow: 10px;
      text-align: center;
    }

    input {
      text-align: center; 
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      border: black;
      background:whitesmoke;
      border-radius: 20%;
      display: block;
      
    }

    .bg-img {
      background-image: url("https://sanrachna.bhel.in/resources/images/login-bg.png");
      height: 600px;
      position: relative;
      background-position: center;

    }

    .container-fluid {
      text-align: center;
      position: absolute;
      left: 20%;
      margin: 20px;
      max-width: 200px;
      padding: 30px;
      margin-top: 5%;
      box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;

    }

    .btn {
      background-color: #4086d7;
      color:rgb(244, 239, 239);
      padding: 16px 20px;
      border: none;
      
      width: 50%;
      opacity: 0.9;
      border-radius: 20%;
      display:inline-block;
      margin-right: 10px;
    }
  </style>
</head>

<body>
  
  <div class="bg-img">
    <form action="/users/adminlogin" method="post">

      <div class="container-fluid">

        <h1> Login</h1>


        <input type="text" placeholder="*********" name="email">


        <input type="password" placeholder=" password" name="psw"> <br>

        <button type="submit" class="btn">Login</button>
      </div>


    </form>
  </div>
</body>

</html>