<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">product</th>
                <th scope="col">product name</th>
                <th scope="col">price</th>
                <th scope="col">userid</th>
                <th scope="col">Quantity</th>
                
            </tr>
        </thead>
        <tbody>
            {{#each result}}
            <tr>
               <th scope="row">{{this.id}}</th> 
            </tr>
        </tbody>
    </table>
</body> 
</html>