body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
img{
  height: 400px ;
  width: 1000px;
}


.nav-item{
  padding: 30px;
}
.card{
  margin-left: 35px;
}

.btn{
  text-align: center;
}
.container{
  margin-top: 75px;
  background-color: aquamarine;
  text-align: center;
  padding: 20px;
  width: 300px;
  height: 250px;
  position: absolute;

}


.bg-img {
 
  background-image: url("budget.jpg");

  min-height: 380px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.container {
  position: absolute;
  right: 0;
  margin: 20px;
  max-width: 300px;
  padding: 16px;
  background-color: white;
}
@media (min-width: 1025px) {
  .h-custom {
  height: 100vh !important;
  }
  }
   .main{
    width: 70%;
    padding-left: 35%;
   
    
  }
  .cartItem{
    display: flex;
    margin-top: 10%;
    width: 100%;
    height: 250px;
    border: 1px solid black;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
     border-radius: 10px;
  
  } 
  .imgIcon{
    height: 100%;
    width: 40%;
    padding: 10px;
  }
  .left{
    text-align: center;
    height: 438px;
    margin-left: 10px;
    width: 400px;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: fixed;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
     border-radius: 7px;
     border: 1px solid black;
     background-color: #ffffff;
    
  } 
  .left input {
    border:  1px solid black;
    background-color:white;
    border-left: none;
    border-top: none;
    border-right: none;
  }
  .checkout{
    border: 1px solid blue;
    background-color:  rgb(2, 111, 220);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .amnts{
    width: 100%;
    text-align: left;
    color: black;
  }
.logos{
  display: flex;
  background-image: url(https://w7.pngwing.com/pngs/385/651/png-transparent-visa-electron-credit-card-debit-card-visa-debit-visa-blue-text-rectangle.png);

}
.logos img{
  height: 150px;
  width: 100%;
}
.navCart{
  position: fixed;
  width: 100%;
  top: 0;
}
.right{
  margin-top: 40%;
}